{% extends 'base.html' %}
{% load static %}

{% block 'title'%}
    Extrato
{% endblock %}

{% block 'content'%}

<div class="form-container">    
    <div class="card">        
        <div class="card-body mb-2">            
            <h1 class="title">Adicionar Transação</h1>    
            
            <form action="{% url 'statements:create'%}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label class="bold" for="statement_type">Tipo de Transação:</label>
                    {{ form.statement_type }}
                </div>

                <div class="form-group">
                    <label class="bold" for="statement_description">Descrição:</label>
                    {{ form.statement_description }}
                </div>
                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="bold" for="statement_value">Valor:</label>
                        {{ form.statement_value }}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="bold" for="statement_date">Data:</label>
                        <input class="form-control" type="date" id="statement_date" name="statement_date">
                    </div>
                </div> 
                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="bold" for="statement_category">Categoria:</label>
                        {{ form.statement_category }}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="bold" for="account">Conta:</label>
                        <select class="form-control" name="account" id="account" required>  
                            <option value="">Selecione</option>
                                {% for account in account_form %}
                                    <option value="{{ account.id }}">{{ account.account_name }}</option>
                                {% endfor %}
                            </select>
                    </div>
                </div> 

               
                <input class="btn btn-success col-md-12 mt-4 mb-1" type="submit" value="Cadastrar">
                <a href="{% url 'statements:index' %}" class="btn btn-danger mb-3 col-md-10 offset-1">Voltar</a>
            </form>  
        </div>
    </div>  
</div>


{% endblock %}