{% extends 'base.html' %}
{% load humanize %}


{% block 'title'%}
    Contas
{% endblock %}

{% block 'content'%}

    <div class="container">
    {% if accounts %}    
        <div class="row">
            <div class="table-responsive col-md-4">
                
                <h1 class="title">Contas</h1>
                <table class="table table-bordered table-hover">
                    <thead class="bg-dark">
                        <tr>
                            <th scope="col" class="column-name">Nome Da Conta</th>
                            <th scope="col" class="column-name">Saldo da Conta</th>
                            <th scope="col" class="column-name">-</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                            <tr class="table-success">                            
                                <td>{{ account.account_name | intcomma }}</td> 
                                <td>R${{ account.account_balance | intcomma }}</td>     
                                    <td> 
                                        <a class="update_icon" href="{% url 'accounts:update' account.id %}"><ion-icon name="create-outline"></ion-icon></a>                                    
                                        <a class="delete_icon" data-id="{{ account.id }}"><ion-icon name="trash-outline"></ion-icon></a>
                                    </td>                      
                            </tr>
                        {% endfor %} 
                        <tr class="table-dark">
                            <td>Total</td>
                            <td id="total">R${{ total_balance | intcomma }}</td>
                            <td class="column-name">-</td>                            
                        </tr>
                    </tbody>
                </table>
                <!-- Button trigger modal -->  
                <form action="{% url 'accounts:create' %}" method="POST" class="">
                    {% csrf_token %}
                    {% include 'modal-create.html' %}       
                    <a class="btn btn-success col-md-12" href="#" data-bs-toggle="modal" data-bs-target="#create_modal">Adicionar Conta</a>              
                </form>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6 chart">
                <canvas id="myChart" width="300px"></canvas>                               
            </div>
        </div>   
    {% else %}
        <div class="col-md-5 form-container">            
            <div class="card mt-5">
                <div class="card-body">
                    <h4 class="text-center card-title">Você ainda não possui nenhuma conta!</h4>
                    <h6 class="text-center">Clique no botão abaixo para cadastrar</h6>
                    <form action="{% url 'accounts:create' %}" method="POST" class="">
                        {% csrf_token %}
                        <a class="btn btn-success col-md-10 mt-2" href="#" data-bs-toggle="modal" data-bs-target="#create_modal">Adicionar Conta</a>                                                          
                </div>
            </div>
        </div>      
    </div>
    {% include 'modal-create.html' %}                         
    
    {% endif %}

{% endblock %}


{% block 'scripts'%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">

    
    //Sweet Alert
    var deleteButton = document.querySelectorAll('.delete_icon');

    deleteButton.forEach(function(button) {
        button.addEventListener('click', function () {
            Swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, deletar!',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log(button.dataset.id)
                    window.location.replace('delete/' + button.dataset.id);
                    Swal.fire(
                        'Excluído!',
                        'Sua conta foi deletada',
                        'success'
                    )
                } else {
                    
                }
            })
        });
    });


    //Chart
    const accountsData = JSON.parse('{{ accounts_data_json | safe }}');

    // Obter os dados da tabela
    const labels = accountsData.map(account => account.name);
    const data = accountsData.map(account => account.balance);
  
    // Criar o gráfico
    const ctx = document.getElementById('myChart').getContext('2d');
    const chart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: labels,
        datasets: [{
          label: 'Saldo',
          data: data,
          backgroundColor: [
            'rgba(87, 35, 100, 1)',
            'rgba(153, 221, 255, 1)',
            'rgba(0, 128, 0, 1)',
            'rgba(0, 153, 204, 1)',
            'rgba(25, 25, 25)',
            'rgba(153, 153, 153, 1)',
          ],        
          borderWidth: 1
        }]
      },
      options: {}
    });

    $("#modal-create").modal("show");

</script>
  
{% endblock %}