{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block 'title'%}
    Ativos
{% endblock %}

{% block 'content'%}
<div class="container">
    <div class="row">
        <!-- <div class="col-md-12">
            <canvas id="assetsChart"></canvas>
        </div> -->
    </div>
    <div class="row">        
        {% if stocks_list or reit_list%}                 

        <a class="btn btn-success mb-1 mt-3 col-md-2 offset-10 me-auto" href="{% url 'assets:create' %}">Adicionar Ativo</a>              

            <!-- STOCKS SESSION -->
            <h1 class="title col-md-12 me-auto">Ações</h1>                    
                                                                                                
            <table class="table table-bordered table-hover">
                <thead class="bg-dark">
                        <th scope="col" class="column-name">Ativo</th>
                        <th scope="col" class="column-name">Qte.</th>
                        <th scope="col" class="column-name">Preço Médio</th>
                        <th scope="col" class="column-name">Preço Atual</th>
                        <th scope="col" class="column-name">Dia</th>       
                        <th scope="col" class="column-name">Variação/dia</th>    
                        <th scope="col" class="column-name">Variação</th>       
                        <th scope="col" class="column-name">Variação Total</th> 
                        <th scope="col" class="column-name">Patrimônio</th> 
                        <th scope="col" class="column-name">Actions</th>                                           
                    </tr>
                </thead>
                <tbody>                                                       
                    {% for stock, preco_atual, variacao_diaria,valor_dia, variacao, variacao_total, amount in stocks_list %}                                                   
                        <tr class="table-success">
                            <td class="text-center">{{ stock.asset_code }}</td>
                            <td class="text-center">{{ stock.asset_qty }}</td>
                            <td class="text-center">R${{ stock.average_price }}</td>                            
                            <td class="text-center"> R${{ preco_atual }} </td>
                            {% if variacao_diaria > 0 %}
                                <td class="positive text-center">{{ variacao_diaria }}%</td>
                            {% else %}
                                <td class="negative text-center">{{ variacao_diaria }}%</td>
                            {% endif %}  
                            {% if valor_dia > 0 %}
                                <td class="positive text-center">R${{ valor_dia }}</td>
                            {% else %}
                                <td class="negative text-center">R${{ valor_dia }}</td>
                            {% endif %} 
                            {% if variacao > 0 %}
                                <td class="positive text-center">{{ variacao }}%</td>
                            {% else %}
                                <td class="negative text-center">{{ variacao }}%</td>
                            {% endif %}                                
                            {% if variacao_total >= 0 %}
                                <td class="positive text-center">R${{ variacao_total | intcomma }}</td>
                            {% else %}
                                <td class="negative text-center">R${{ variacao_total | intcomma }}</td>
                            {% endif %}
                            <td class="text-center">R${{ amount | intcomma }}</td>       
                            <td class="text-center">
                                <a href="" class="eye-icon"><ion-icon name="eye-outline"></ion-icon></a>
                                <a href="{% url 'assets:update' stock.id %}"><ion-icon name="create-outline"></ion-icon></a>
                                <a class="delete-icon" data-id="{{ stock.id }}"><ion-icon name="trash-outline"></ion-icon></a>
                            </td>                                                 
                        </tr>                                  
                    {% endfor %}                                             
                </tbody>
            </table>
        </div>
 
        <!--FIIS SESSION -->
        <h1 class="title col-md-12 me-auto">Fundos Imobiliários</h1>                    
                                                                                                
            <table class="table table-bordered table-hover">
                <thead class="bg-dark">
                        <th scope="col" class="column-name">Ativo</th>
                        <th scope="col" class="column-name">Qte.</th>
                        <th scope="col" class="column-name">Preço Médio</th>
                        <th scope="col" class="column-name">Preço Atual</th>
                        <th scope="col" class="column-name">Dia</th>       
                        <th scope="col" class="column-name">Variação/dia</th>    
                        <th scope="col" class="column-name">Variação</th>       
                        <th scope="col" class="column-name">Variação Total</th> 
                        <th scope="col" class="column-name">Patrimônio</th> 
                        <th scope="col" class="column-name">Actions</th>                                           
                    </tr>
                </thead>
                <tbody>                                                       
                    {% for asset, preco_atual, variacao_diaria,valor_dia, variacao, variacao_total, amount in reit_list %}                                                    
                        <tr class="table-success">
                            <td class="text-center">{{ asset.asset_code }}</td>
                            <td class="text-center">{{ asset.asset_qty }}</td>
                            <td class="text-center">R${{ asset.average_price }}</td>                            
                            <td class="text-center"> R${{ preco_atual }} </td>
                            {% if variacao_diaria > 0 %}
                                <td class="positive text-center">{{ variacao_diaria }}%</td>
                            {% else %}
                                <td class="negative text-center">{{ variacao_diaria }}%</td>
                            {% endif %}  
                            {% if valor_dia > 0 %}
                                <td class="positive text-center">R${{ valor_dia }}</td>
                            {% else %}
                                <td class="negative text-center">R${{ valor_dia }}</td>
                            {% endif %} 
                            {% if variacao > 0 %}
                                <td class="positive text-center">{{ variacao }}%</td>
                            {% else %}
                                <td class="negative text-center">{{ variacao }}%</td>
                            {% endif %}                                
                            {% if variacao_total >= 0 %}
                                <td class="positive text-center">R${{ variacao_total | intcomma }}</td>
                            {% else %}
                                <td class="negative text-center">R${{ variacao_total | intcomma }}</td>
                            {% endif %}
                            <td class="text-center">R${{ amount | intcomma }}</td>       
                            <td class="text-center">
                                <a href="#" class="eye-icon"><ion-icon name="eye-outline"></ion-icon></a>
                                <a href="{% url 'assets:update' asset.id %}"><ion-icon name="create-outline"></ion-icon></a>
                                <a class="delete-icon" data-id="{{ asset.id }}"><ion-icon name="trash-outline"></ion-icon></a>
                            </td>                                                 
                        </tr>                                
                    {% endfor %}                                             
                </tbody>
            </table>

        {% else %}
        <div class="col-md-5 form-container">            
            <div class="card mt-5">
                <div class="card-body">
                    <h4 class="text-center card-title">Você ainda não possui nenhum ativo!</h4>
                    <h6 class="text-center">Clique no botão abaixo para cadastrar</h6>
                    <form action="{% url 'assets:create' %}" method="POST" class="">
                        {% csrf_token %}
                        <a class="btn btn-success col-md-10 offset-1 mt-2" href="{% url 'assets:create' %}">Adicionar Ativo</a>                                                          
                </div>
            </div>
        </div>          
        {% endif %}
</div>
{% endblock %}


{% block 'scripts'%}   
<script type="text/javascript">    

    //Sweet Alert
    var deleteButton = document.querySelectorAll('.delete-icon');

    deleteButton.forEach(function(button) {
        button.addEventListener('click', function () {
            Swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, deletar!',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log(button.dataset.id)
                    window.location.replace('delete/' + button.dataset.id);
                    Swal.fire(
                        'Excluído!',
                        'Seu ativo foi deletado',
                        'success'
                    )
                } else {
                    
                }
            })
        });
    });

    $("#create_asset_modal").modal("show");
</script>

{% endblock %}