{% extends 'base.html' %}
{% load static %}

{% block 'title'%}
    Ativos
{% endblock %}

{% block 'content'%}

<div class="form-container">    
    <div class="card">        
        <div class="card-body mb-2">            
            <h1 class="title">Adicionar Ativo</h1>    
            
            <form action="{% url 'assets:create'%}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label class="bold" for="asset_name">Nome do Ativo:</label>
                    {{ form.asset_name }}
                </div>
                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="bold" for="asset_code">Código do Ativo:</label>
                        {{ form.asset_code }}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="bold" for="asset_type">Tipo:</label>
                        {{ form.asset_type }}
                    </div>
                </div> 
                
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="bold" for="asset_qty">Quantidade:</label>
                        {{ form.asset_qty}}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="bold" for="average_price">Preço Médio:</label>
                        {{ form.average_price }}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="bold" for="status">Ativo na carteira:</label>
                        <select class="form-control" name="status" id="status" required>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>                                              
                        </select>
                    </div>
                </div> 

                <div class="row">
                    <div class="form-group col-md-12">
                      <label class="bold" for="account_id">Pertence à conta:</label>
                      <select class="form-control" name="account_id" id="account_id" required>  
                        <option value="">Selecione</option>
                        {% for account in accounts %}
                            <option value="{{ account.id }}">{{ account.account_name }}</option>
                        {% endfor %}
                        </select>
                        <small class="text-muted">*Cadastre a conta antes de adicionar o ativo</small>
                    </div>
                  </div>
                <input class="btn btn-success col-md-12 mt-4 mb-1" type="submit" value="Cadastrar">
                <a href="{% url 'assets:index' %}" class="btn btn-danger mb-3 col-md-10 offset-1">Voltar</a>
            </form>  
        </div>
    </div>  
</div>


{% endblock %}