html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}



/* Logo */ /* Logo */ /* Logo */ /* Logo */ 

.image {
    width: 70px;
    margin-left: 50px;
}


/* Login and Logout */ /* Login and Logout */ /* Login and Logout */ /* Login and Logout */ 

.login_logout {
    margin-right: 50px;
}

.search {
    margin-right: 300px;
}

/* Accounts */ /* Accounts */ /* Accounts */ /* Accounts */ 

.title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.column_name {
    color: white;
    text-align: center;
}

.delete_icon {
    color: red;
}

.delete_icon, 
.update_icon,
.create_icon {
    list-style: none;
}

.form-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
}

