html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}



/* Logo */ /* Logo */ /* Logo */ /* Logo */ 

.image {
    width: 70px;
    margin-left: 50px;
}


/* Login and Logout */ /* Login and Logout */ /* Login and Logout */ /* Login and Logout */ 

.login_logout {
    margin-right: 50px;
}

.search {
    margin-right: 300px;
}

/* Accounts */ /* Accounts */ /* Accounts */ /* Accounts */ 

.title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column-name {
    color: white;
    text-align: center;
}

.delete-icon {
    color: red;
    cursor: pointer;
}

.eye-icon {
    color: blueviolet;
}

.delete-icon, 
.update-icon {
    list-style: none;
}

.form-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
}

.form-group {
    padding-top: 15px;
}

/* CHARTS  */  /* CHARTS  */  /* CHARTS  */ 

#accountChart {
    max-width: 70%;
    align-items: center;
}

#statementCategoryChart {
    max-width: 80%;
    margin-left: 45px;
}

/* Assets */ /* Assets */ /* Assets */ /* Assets */ 

.positive {
    color: green;
}

.negative {
    color: red;
}

.plus-button {
    width: 100px;
}


/* Statement */ /* Statement */ /* Statement */ /* Statement */ 

.dash-block {
    text-align: center;    
    height: 100px;    
    border-radius: 10px;    
}

.dash-block:hover {
    color: #FFF;
}

.block-title {
    color: #FFF;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
}

.block-value {
    color: #FFF;
    font-size: 20px;
}

.dash-block:nth-child(1){
    margin-left: 60px;
    background-color: rgb(17, 116, 62)
}

.dash-block:nth-child(2){
    background-color: rgb(216, 50, 0);
    margin: 0 80px;
}

.dash-block:nth-child(3){
    background-color: rgba(0, 153, 204);
    
}


/* Footer */ /* Footer */ /* Footer */ /* Footer */ 

.footer {
    background-color: #252525;
    color: #FFF;
    text-align: center;
    max-width: 100%;
}