{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block 'title'%}
    Proventos
{% endblock %}

{% block 'content'%}

    <div class="container">
        <a class="btn btn-success mb-1 mt-3 col-md-2 offset-10 me-auto" href="{% url 'earnings:create' %}">Adicionar Provento</a>              
        <div class="row">
            <h1 class="title col-md-12 me-auto">Proventos</h1>      
        </div>

        <div class="row">
          <div class="col-md-12 bar-chart">
            <canvas id="earningsChart" height="100px"></canvas>
          </div>
        </div>
    </div>
    
{% endblock %}

{% block 'scripts'%}   
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">   

    //Earnings chart
        
    const ctx = document.getElementById('earningsChart').getContext('2d');
    const chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["mai/20", "jun/20", "jul/20", "ago/20", "set/20", "out/20", "nov/20", "dez/20"],
        datasets: [{
          label: '',
          data: [0.94, 4.15, 7.63, 27.12, 10.55, 15.17, 37.20, 25.40],
          backgroundColor: [
            'rgba(54, 162, 235)',
          ],
          borderWidth: 1
        }]
      },
      options: {
        
      },
    });

</script>

{% endblock %}
