{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block 'title'%}
    Proventos
{% endblock %}

{% block 'content'%}

    <div class="container">
        <a class="btn btn-success mb-1 mt-3 col-md-2 offset-10 me-auto" href="{% url 'earnings:create' %}">Adicionar Provento</a>              
        <div class="row">
            <h1 class="title col-md-12 me-auto">Proventos</h1>      
        </div>

        <div class="row">
          <div class="col-md-12 bar-chart">
            <canvas id="earningsChart" height="100px"></canvas>
          </div>
        </div>
    </div>
    
{% endblock %}

{% block 'scripts'%}   
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">   

    //Earnings chart
        
    const ctx = document.getElementById('earningsChart').getContext('2d');
    const chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho"],
        datasets: [{
          label: '',
          data: [65, 59, 80, 81, 56, 55, 40],
          backgroundColor: [
            'rgba(255, 99, 132)',
            'rgba(255, 159, 64)',
            'rgba(255, 205, 86)',
            'rgba(75, 192, 192)',
            'rgba(54, 162, 235)',
            'rgba(153, 102, 255)',
            'rgba(201, 203, 207)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
            y: {
              beginAtZero: true
            }
          }
      },
    });

</script>

{% endblock %}
